@model  DigitalLibrary.Models.Page

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Add", "Pages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal" style="width:600px; margin:0 auto;">
            <h4>Page</h4>
            <hr />
            <div class="form-group">
                <label name="" class="col-md-2 form-control">Baab Name</label>
                <div class="col-md-10">
                    <input name="BaabId" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 form-control">Book Name</label>
                <div class="col-md-10">
                    <input name="BookId" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 form-control">Page Tag</label>
                <div class="col-md-10">
                    <input name="PageTag" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 form-control">Page Number</label>
                <div class="col-md-10">
                    <input name="PageNumberDisplay" type="text" class="form-control" />
                </div><hr />
            </div>
            <div class="form-group">
                <label class="col-md-2 form-control">Page Details</label>
                <div class="col-md-6 col-xs-12">
                    <textarea id="TextArea1" name="PageDetails" maxlength="900" rows="10" cols="90" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>

</div>