@model  DigitalLibrary.Models.Book


@using DigitalLibrary.Models
@{
    Users user = Session["User"] as Users;
    if (user.Role == "admin")
    {
        Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
    }
    else if (user.Role == "manager")
    {
        Layout = "~/Views/Shared/_ManagerDashoardPartial.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<section class="content">
    <h2>Create Book</h2>


    @using (Html.BeginForm("Add", "Books", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {

        @Html.AntiForgeryToken()
        
                <div class="form-group">
                    <label name="" class="col-md-2 control-label">Name</label>
                    <div class="col-md-5">
                        <input name="Name" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Select Authors</label>
                    <div class="col-md-5">
                        <input name="AuthorId" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Select Publisher</label>
                    <div class="col-md-5">
                        <input name="PublisherId" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Publishing Year</label>
                    <div class="col-md-5">
                        <input name="PublishingYear" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Edition Number</label>
                    <div class="col-md-5">
                        <input name="EditionNumber" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">No. of Pages</label>
                    <div class="col-md-5">
                        <input name="NoOfPages" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">No. of Abwaabs</label>
                    <div class="col-md-5">
                        <input name="NoOfAbwaabs" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"> Book Cover</label>
                    <div class="col-md-5">
                        <input type="file" title="search image" name="file">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                
    }

    <div>

    </div>
</section>