@model  DigitalLibrary.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
}

<section class="content">
    <h2>Create</h2>


    @using (Html.BeginForm("Add", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        <div class="row" style="width:800px; margin:0 auto;">
            <div class="form-horizontal">
                <h4>Book</h4>
                <hr />
                <div class="form-group">
                    <label name="" class="form-control">Name</label>
                    <div class="col-md-5">
                        <input name="Name" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control">Select Authors</label>
                    <div class="col-md-5">
                        <input name="AuthorId" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control">Select Publisher</label>
                    <div class="col-md-5">
                        <input name="PublisherId" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control">Publishing Year</label>
                    <div class="col-md-5">
                        <input name="PublishingYear" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control">Edition Number</label>
                    <div class="col-md-5">
                        <input name="EditionNumber" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control">No. of Pages</label>
                    <div class="col-md-5">
                        <input name="NoOfPages" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control">No. of Abwaabs</label>
                    <div class="col-md-5">
                        <input name="NoOfAbwaabs" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control"> Book Cover</label>
                    <div class="col-md-5">
                        <input type="file" title="search image" name="file">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                </div>
            </div>
    }

    <div>

    </div>
</section>