@model  DigitalLibrary.Models.Publisher


@using DigitalLibrary.Models
@{
    Users user = Session["User"] as Users;
    if (user.Role == "admin")
    {
        Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
    }
    else if (user.Role == "manager")
    {
        Layout = "~/Views/Shared/_ManagerDashoardPartial.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<h2>Create</h2>


@using (Html.BeginForm("Add", "Publishers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <div class="row" >
        <div class="form-horizontal"  style="width:600px; margin:0 auto;">
            <h4>Publisher </h4>
            <hr />
            <div class="form-group">
                <label name="" class="col-md-2 form-control">Name</label>
                <div class="col-md-10">
                    <input name="Name" type="text" class="form-control" />
                </div>
            </div>
          
            <div class="form-group">
                <label class="col-md-2 form-control"> Publisher Address</label>
                <div class="col-md-10">
                    <input name="Address" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>

</div>