@model DigitalLibrary.Models.Publisher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="from-control"> Publisher Name</label>
        </dt>

        <dd>
            <input name="Name" type="text" readonly="readonly" value="@Model.Name" class="form-control" />
        </dd>

        <dt>
            <label class="from-control"> Publisher Address</label>
        </dt>

        <dd>
            <input name="Address" type="text" readonly="readonly" value="@Model.Address" class="form-control" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
