@model  DigitalLibrary.Models.Authors


@using DigitalLibrary.Models
@{
    Users user = Session["User"] as Users;
    if (user.Role == "admin")
    {
        Layout = "~/Views/Shared/_AdminDashboardPartial.cshtml";
    }
    else if (user.Role == "manager")
    {
        Layout = "~/Views/Shared/_ManagerDashoardPartial.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<section class="form-control">
<h2>Create Aurhors</h2>


@using (Html.BeginForm("Add", "Authors", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{

    @Html.AntiForgeryToken()

            <div class="form-group">
                <label name="" class="col-md-2 control-label">Name</label>
                <div class="col-md-6">
                    <input name="Name" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Desigination</label>
                <div class="col-md-6">
                    <input name="Desigination" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">UserId</label>
                <div class="col-md-6">
                    <input name="UserId" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
}

<div>

</div>
</section>